@import "./base.scss";
@import "./views.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 1.6rem;
}

#kazi {
  min-height: 100vh;
}

.header-bar {
  position: fixed;
  width: 100%;
  padding: 1.8rem 10rem;
  background-color: var(--color-header-background);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;

  @media (max-width: 991px) {
    padding: 1.8rem 5rem;
  }

  @media (max-width: 767px) {
    padding: 1rem 2.4rem 0.8rem 2rem;
  }
}

.main-container {
  position: relative;
  padding: 10rem 6rem;
  min-height: 100vh;
  overflow: hidden;

  @media (max-width: 1199px) {
    padding: 10rem 2.4rem 0;
  }

  @media (max-width: 991px) {
    padding: 10rem 2.4rem 0;
  }

  @media (max-width: 767px) {
    padding: 8rem 1.2rem;
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

html,
div {
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-bar);
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}

//color picker
.el-color-picker,
.el-color-picker__color-inner,
.el-color-picker__trigger,
.el-color-picker__color {
  width: var(--radius, 24px);
  height: var(--radius, 24px);
  padding: 0;
  border: none;
  border-radius: 50%;
}

.el-color-picker__color-inner {
  border: 2px solid var(--color-gray2-1);
}

.el-color-picker:hover .el-color-picker__trigger {
  width: var(--radius, 24px);
  height: var(--radius, 24px);
  border: none !important;
}

.el-color-picker .el-color-picker__icon {
  display: none;
}
