@import "./base.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 1.6rem;
}

#kazi {
  min-height: 100vh;
}

.header-bar {
  position: fixed;
  width: 100%;
  padding: 1.8rem 10rem;
  background-color: var(--color-header-background);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;

  @media (max-width: 991px) {
    padding: 2.4rem 5rem;
  }

  @media (max-width: 767px) {
    padding: 2.4rem 2.4rem;
  }
}

.main-container {
  padding: 10rem;
  min-height: 100vh;
  overflow-x: hidden;

  @media (max-width: 991px) {
    padding: 10rem 4.8rem 0;
  }

  @media (max-width: 767px) {
    padding: 10rem 2.4rem 0;
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
